<!--Dynamic Web Page for Showing the weather temperature, and travel time for the places.-->

<!DOCTYPE html>
<html>
    <head>
        <style>
        body{
            background-color:mintcream;
            font-family: times;
        }
        button#Static-use{
            padding: 25px;
            background-color: #d89549;
            border: 3px solid chocolate;
            margin: 0px 50px;
            box-shadow: 6px 6px chocolate;
        }
        div#Weather{
            background-color:#d89549;
            border: 4px double chocolate;
            box-shadow: 6px 8px chocolate;
        }
        div#Destination{
            background-color:#d89549;
            border: 4px double chocolate;
            box-shadow: 6px 8px chocolate;
        }
        </style>
    </head>
<body>
    <h1><%=weather %> and <%=traveling %> status</h1>


<h2>What is the weather?</h2>

<div id="Weather">
<ul>
    <% temp.forEach(temp => { %>
        <li><%= temp %></li>
    <% }); %>
</ul>
</div>

<h2>How far is the destination from East Grand Rapids?</h2>

<div id="Destination">
<ul>
    <% dist.forEach(dist => { %>
        <li><%= dist %></li>
    <% }); %>
</ul>
</div>

<!--This will post the Weather of a place-->

<h2>Temperature</h2>
<form method="POST" action="/submit"><br>
    <label for="Weather"></label><br>
    <input type="text" id="Weather" name="Weather">
    <input type="submit" value="Submit">
</form>


<br>
<h2>Retry:</h2>
<a href='Dynamic-web'>
    <button id = "Static-use">Try Again</button>
</a>

</body>

</html>